{% extends "base.html" %}
{% block content %}



<h3>{{ match.home_team }} vs {{ match.away_team }}</h3>

<div class="card">
    <h4>👀 Who picked what</h4>

    <div class="pick-header">

        <!-- ✅ HOME TEAM -->
        <div class="team-column">
            <b>{{ match.home_team }}</b>

            {% for p in picks_data %}
                {% if p.team == match.home_team %}
                    <div class="user-name">{{ p.user }}</div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- ✅ AWAY TEAM -->
        <div class="team-column">
            <b>{{ match.away_team }}</b>

            {% for p in picks_data %}
                {% if p.team == match.away_team %}
                    <div class="user-name">{{ p.user }}</div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>

<h3>💬 Banter</h3>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="text" placeholder="Say something..." required>
    <button type="submit">Send</button>
</form>

<div id="comments"
     hx-get="/matches/{{ match.id }}/"
     hx-trigger="every 5s"
     hx-swap="innerHTML">

    {% include "_comments.html" %}

</div>

{% endblock %}
