{% extends "base.html" %}

{% block content %}

<h2>Pick Your Teams</h2>

<form method="POST" id="pickForm">
    {% csrf_token %}
    <div class="groups-container">
    {% for group, teams in groups.items %}
        <div class="group-box">

            <h3>Group {{ group }}</h3>

            {% for team in teams %}
                <div class="team-row">

                    <img src="https://play.fifa.com/media/image/bracket_predictor/flags/world_cup_2026/{{ team.code }}.svg"
                         alt="{{ team.name }}">

                    <button type="button"
                            class="team-btn"
                            onclick="selectTeam('{{ group }}', '{{ team.id }}', this)">
                        {{ team.name }}
                    </button>

                </div>
            {% endfor %}

            <input type="hidden" name="{{ group }}" id="group_{{ group }}">
        </div>
    {% endfor %}
</div>
    <button type="submit" class="lock-btn" style="color: black;">🔒 Lock In</button>
</form>

<script>
    let picks = {};

    function selectTeam(group, teamId, btn) {
        picks[group] = teamId;

        // update hidden input
        document.getElementById("group_" + group).value = teamId;

        // reset all buttons in group
        let parent = btn.closest(".group-box");
        let buttons = parent.querySelectorAll(".team-btn");

        buttons.forEach(b => b.classList.remove("selected"));

        // highlight selected
        btn.classList.add("selected");
    }

    document.getElementById("pickForm").addEventListener("submit", function(e) {
        if (Object.keys(picks).length < 12) {
            alert("Pick one team from each group!");
            e.preventDefault();
    }
});
</script>

<style>
    @media (max-width: 900px) {
        .group-box {
            flex: 1 1 calc(50% - 15px); /* 2 per row */
        }
    }
    
    @media (max-width: 500px) {
        .group-box {
            flex: 1 1 100%; /* 1 per row */
        }
    }

    .groups-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .group-box {
        flex: 1 1 calc(33.33% - 15px); /* 3 per row */
        background: var(--bg-main);
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
    }
    
   .team-row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 6px 0;
    }
    
    .team-row img {
        width: 30px;
        height: auto;
    }
    
    .team-btn {
        flex: 1;
        padding: 6px;
        border: 1px solid #ccc;
        background: var(--bg-card);
        cursor: pointer;
        color: var(--text-main);
        text-align: left;
    }

    .team-btn:hover {
        background: var(--text-winner);
    }

    .team-btn.selected {
        background: var(--text-winner);
        color: white;
    }

    .selected {
        background: #3b5998;
        color: var(--text-main);
        border-color: #3b5998;
    }

    .lock-btn {
        width: 100%;
        padding: 12px;
        background: #3b5998;
        color: white;
        border: none;
        font-size: 16px;
        margin-top: 20px;
    }
</style>

{% endblock %}
